@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@theme {
  --font-vend: 'Vend Sans', sans-serif;
  --color-primary: #ffffff;
  --color-secondary: #000000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


@supports (scrollbar-width: thin) {
  :root {
    scrollbar-width: thin;

    scrollbar-color: #9ca3af transparent; 
  }
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;      
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}


